body.dark {
    background-color: rgb(40, 41, 42);
    color: #d4be98; /* trying out this color which I found on
                     * https://yasserarg.com/tb.css */
}

body.dark main {
    background-color: rgb(40, 41, 42);
    color: #d4be98;
}

body.dark article {
    background-color: rgb(40, 41, 42);
    color: #d4be98;
}

body.dark a:link { color: #f0ca35; }
body.dark a:visited { color: #ca7d39; }

/* The CSS below is modified from https://invertornot.com/ */
body.dark img {
    filter: brightness(85%);
}
body.dark img.darkmode-dim {
    filter: brightness(85%);
}
body.dark img.darkmode-invert {
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
}
body.dark img.darkmode-original {
    filter: none;
}

/* For tables, especially for those using https://mottie.github.io/tablesorter/docs/ */
body.dark table {
    background-color: rgb(40, 41, 42);
    border-color: #cccccc;
}
body.dark table th { background-color: rgb(40, 41, 42); }

body.dark table tbody tr { border-color: #cccccc; }
body.dark table thead th { border-color: #cccccc; }
body.dark table tfoot th { border-color: #cccccc; }

body.dark table.tablesorter {
    background-color: #595957;
    color: #d4be98;
}

body.dark table.tablesorter thead tr th, body.dark table.tablesorter tfoot tr th {
    background-color: #393733;
    border: 1px solid #000000;
}

body.dark table.tablesorter tbody td {
    background-color: rgb(40, 41, 42);
    color: #d4be98;
}
