body.dark {
    background-color: rgb(40, 41, 42);
    /* color: rgb(216, 215, 212); */
    color: #d4be98; /* trying out this color which I found on
                     * https://yasserarg.com/tb.css */
}

body.dark article {
    background-color: rgb(40, 41, 42);
    /* color: rgb(216, 215, 212); */
    color: #d4be98;
}

body.dark a:link { color: #f0ca35; }
body.dark a:visited { color: #d04a09; }

/* The CSS below is modified from https://invertornot.com/ */
body.dark img {
    filter: grayscale(50%) brightness(85%);
}
body.dark img.darkmode-dim {
    filter: grayscale(50%) brightness(85%);
}
body.dark img.darkmode-invert {
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
}
body.dark img.darkmode-original {
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
}
