:root {
    /* Keep this so that even if the user has disabled JavaScript, the
     * OS/browser preference for light/dark will be honored. Note that this
     * requires setting the theme via light-dark() (Option A below) rather than
     * the body.dark override method (Option B). */
    color-scheme: light dark;
}

body {
    font-family: sans-serif;

    /* Option A for defining your color schemes: use light-dark(). The first
     * value is used for light mode and the second value is used for dark
     * mode. */
    background-color: light-dark(#ffffff, rgb(40, 41, 42));
    color: light-dark(#000000, #d4be98); /* trying out this color which I found on https://yasserarg.com/tb.css */
}

/* Option B for defining your color schemes: */
a:link { color: rgb(0, 102, 204); } /* Define your light color scheme as usual */
a:visited { color: #551A8B; }
body.dark a:link { color: #f0ca35; } /* Then put your darkmode overrides afterward */
body.dark a:visited { color: #d04a09; }

/* You can mix between Option A and Option B as in this CSS file. */

/* For images. The CSS below is modified from https://invertornot.com/ */
body.dark img.darkmode-dim {
    filter: grayscale(50%) brightness(85%);
}
body.dark img.darkmode-invert {
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
}
